
INSERT INTO perks_survivor (name, name2, image, active) VALUES
('Abandonado a tu Suerte', 'Abandonado a tu Suerte', 'b', false),
('Adrenalina', 'Adrenalina', 'b', false),
('Afinidad', 'Afinidad', 'b', false),
('Ágil', 'Ágil', 'b', false),
('Agilidad', 'Agilidad', 'b', false),
('Aguante el Dolor', 'Aguante el Dolor', 'b', false),
('Alerta', 'Alerta', 'b', false),
('Alianza Reprimida', 'Alianza Reprimida', 'b', false),
('Arenque Rojo', 'Arenque Rojo', 'b', false),
('As en la Manga', 'As en la Manga', 'b', false),
('Autocuración', 'Autocuración', 'b', false),
('Autodidacta', 'Autodidacta', 'b', false),
('Bada, Bada, Bum', 'Bada, Bada, Bum', 'b', false),
('Baila Conmigo', 'Baila Conmigo', 'b', false),
('Bajo Perfil', 'Bajo Perfil', 'b', false),
('Bajo Vigilancia', 'Bajo Vigilancia', 'b', false),
('Bendición: Círculo de Curación', 'Bendición: Círculo de Curación', 'b', false),
('Bendición: Exponencial', 'Bendición: Exponencial', 'b', false),
('Bendición: Iluminación', 'Bendición: Iluminación', 'b', false),
('Bendición: Paso Sombrío', 'Bendición: Paso Sombrío', 'b', false),
('Bendición: Teoría Oscura', 'Bendición: Teoría Oscura', 'b', false),
('Caída Equilibrada', 'Caída Equilibrada', 'b', false),
('Camaradería', 'Camaradería', 'b', false),
('Campeón de la Luz', 'Campeón de la Luz', 'b', false),
('Cargar a Cuestas', 'Cargar a Cuestas', 'b', false),
('Chatarrero', 'Chatarrero', 'b', false),
('Clarividencia', 'Clarividencia', 'b', false),
('Compañero de Escena', 'Compañero de Escena', 'b', false),
('Competencia Amistosa', 'Competencia Amistosa', 'b', false),
('Conexión Empática', 'Conexión Empática', 'b', false),
('Conocimiento de la Niebla', 'Conocimiento de la Niebla', 'b', false),
('Conocimientos de Botánica', 'Conocimientos de Botánica', 'b', false),
('Consejos de Papá', 'Consejos de Papá', 'b', false),
('Consuelo', 'Consuelo', 'b', false),
('Contramedida', 'Contrafuerza', 'b', false),
('Corazonada', 'Corazonada', 'b', false),
('Corrección', 'Corrección', 'b', false),
('Curación Reactiva', 'Curación Reactiva', 'b', false),
('De Frente', 'De Frente', 'b', false),
('De la Calle', 'Con Calle', 'b', false),
('Dead Hard', 'Dead Hard', 'b', false),
('Defensa del Alma', 'Defensa del Alma', 'b', false),
('Déjà Vu', 'Déjà Vu', 'b', false),
('Demasiado Entusiasta', 'Demasiado Entusiasta', 'b', false),
('Demuestra lo que Vales', 'Demuestra lo que Vales', 'b', false),
('Detallista', 'Detallista', 'b', false),
('Diseñado para Durar', 'Diseñado para Durar', 'b', false),
('Distorsión', 'Distorsión', 'b', false),
('Distracción', 'Distracción', 'b', false),
('Dramaturgia', 'Dramaturgia', 'b', false),
('Echar una Mano', 'Echar una Mano', 'b', false),
('El Temple del Hombre', 'El Temple del Hombre', 'b', false),
('Elegancia', 'Elegancia', 'b', false),
('Empatía', 'Empatía', 'b', false),
('Endurecida', 'Endurecida', 'b', false),
('Energía Potencial', 'Energía Potencial', 'b', false),
('Enfoque Interno', 'Enfoque Interno', 'b', false),
('Engaño', 'Engaño', 'b', false),
('Escalofríos', 'Escalofríos', 'b', false),
('Especialista', 'Especialista', 'b', false),
('Esperanza', 'Esperanza', 'b', false),
('Espíritu Calmado', 'Espíritu Calmado', 'b', false),
('Espíritu de Novato', 'Espíritu de Novato', 'b', false),
('Esprint', 'Esprint', 'b', false),
('Estado de Flujo', 'Estado de Flujo', 'b', false),
('Estrella de la Suerte', 'Estrella de la Suerte', 'b', false),
('Evasión Urbana', 'Evasión Urbana', 'b', false),
('Éxito Arrollador', 'Éxito Arrollador', 'b', false),
('Exultación', 'Exultación', 'b', false),
('Extraoficialmente', 'Extraoficial', 'b', false),
('Fajador', 'Fajador', 'b', false),
('Farmacia', 'Farmacia', 'b', false),
('Fecha Límite', 'Fecha Límite', 'b', false),
('Fijación', 'Fijación', 'b', false),
('Fortaleza en las Sombras', 'Fortaleza en las Sombras', 'b', false),
('Fuerza Interior', 'Fuerza Interior', 'b', false),
('Fuga', 'Fuga', 'b', false),
('Giro Argumental', 'Giro Argumental', 'b', false),
('Golpe de Suerte', 'Golpe de Suerte', 'b', false),
('Golpe Decisivo', 'Golpe Decisivo', 'b', false),
('Granada Aturdidora', 'Granada Aturdidora', 'b', false),
('Ilusión Reflejada', 'Ilusión Reflejada', 'b', false),
('Impulso Sangriento', 'Impulso Sangriento', 'b', false),
('Ingenio Apocalíptico', 'Ingenio Apocalíptico', 'b', false),
('Inquebrantable', 'Inquebrantable', 'b', false),
('Inspiración Bárdica', 'Inspiración Bárdica', 'b', false),
('Instinto de Saqueador', 'Instinto de Saqueador', 'b', false),
('Interrogatorio', 'Interrogatorio', 'b', false),
('Invocación: Arañas Tejedoras', 'Invocación: Arañas Tejedoras', 'b', false),
('Invocación: Cuervos Traicioneros', 'Invocación: Cuervos Traicioneros', 'b', false),
('Liberación', 'Liberación', 'b', false),
('Lo Conseguiremos', 'Lo Conseguiremos', 'b', false),
('Lucha de Poderes', 'Lucha de Poderes', 'b', false),
('Líder', 'Líder', 'b', false),
('Malicia', 'Malicia', 'b', false),
('Manifiesto Residual', 'Manifiesto Residual', 'b', false),
('Mano Abierta', 'Mano Abierta', 'b', false),
('Máxima Velocidad', 'Máxima Velocidad', 'b', false),
('Me Da Igual', 'Me la Pela', 'b', false),
('Medidas Desesperadas', 'Medidas Desesperadas', 'b', false),
('Mejor Juntos', 'Mejor Juntos', 'b', false),
('Mejor que Nuevo', 'Mejor que Nuevo', 'b', false),
('Mina Cegadora', 'Mina Cegadora', 'b', false),
('Mirada Fija', 'Mirada Fija', 'b', false),
('Momento de Gloria', 'Momento de Gloria', 'b', false),
('Nacido para Esto', 'Nacido para Esto', 'b', false),
('Niñero', 'Canguro', 'b', false),
('Objeto de Obsesión', 'Objeto de Obsesión', 'b', false),
('Ojos de Belmont', 'Ojos de Belmont', 'b', false),
('Oportunidades', 'Oportunidades', 'b', false),
('Pacto de Sangre', 'Pacto de Sangre', 'b', false),
('Pericia Técnica', 'Pericia Técnica', 'b', false),
('Personaje Secundario', 'Personaje Secundario', 'b', false),
('Por Cualquier Medio', 'Por Cualquier Medio', 'b', false),
('Por la Gente', 'Por la Gente', 'b', false),
('Postratamiento', 'Postratamiento', 'b', false),
('Punto de Ebullición', 'Punto de Ebullición', 'b', false),
('Resiliencia', 'Resiliencia', 'b', false),
('Resurgimiento', 'Resurgimiento', 'b', false),
('Ruptura', 'Ruptura', 'b', false),
('Ruptura Limpia', 'Ruptura Limpia', 'b', false),
('Sabotear', 'Sabotear', 'b', false),
('Segundo Aliento', 'Segundo Aliento', 'b', false),
('Sentido Oscuro', 'Sentido Oscuro', 'b', false),
('Serenidad', 'Serenidad', 'b', false),
('Sistema de Espionaje', 'Sistema de Espionaje', 'b', false),
('Solidaridad', 'Solidaridad', 'b', false),
('Solucionador de Problemas', 'Solucionador de Problemas', 'b', false),
('Subir las Apuestas', 'Subir las Apuestas', 'b', false),
('Sujétate', 'Sujétate', 'b', false),
('Suéltate', 'Suéltate', 'b', false),
('Superar', 'Superar', 'b', false),
('Táctica Rápida', 'Táctica Rápida', 'b', false),
('Tenacidad', 'Tenacidad', 'b', false),
('Tiempo Prestado', 'Tiempo Prestado', 'b', false),
('Trabajo en Equipo: El Poder de Dos', 'Trabajo en Equipo: El Poder de Dos', 'b', false),
('Trabajo en Equipo: Sigilo Colectivo', 'Trabajo en Equipo: Sigilo Colectivo', 'b', false),
('Trampa Química', 'Trampa Química', 'b', false),
('Un Lugar Para Nosotros', 'Un Lugar Para Nosotros', 'b', false),
('Último Enfrentamiento', 'Último Enfrentamiento', 'b', false),
('Vamos a Vivir para Siempre', 'Vamos a Vivir para Siempre', 'b', false),
('Velocidad Silenciosa', 'Velocidad Silenciosa', 'b', false),
('Vía Rápida', 'Vía Rápida', 'b', false),
('Vigilia', 'Vigilia', 'b', false),
('Vínculo', 'Vínculo', 'b', false),
('Visionario', 'Visionario', 'b', false),
('Voluntad de Hierro', 'Voluntad de Hierro', 'b', false),
('¡Despierta!', '¡Despierta!', 'b', false),
('Familia', 'Familia', 'b', false),
('Hiperconcentración', 'Hiperconcentración', 'b', false),
('Nos Vemos', 'Hasta Otra', 'b', false),
('Solo Quedo Yo', 'Solo Quedo Yo', 'b', false);