

#login-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#pass-input {
  padding: 12px 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: none;
  background: #222;
  color: white;
  outline: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}